.mws-i-24.i-table-1{background-image:url(24/table-1.png);}
.mws-i-24.i-home{background-image:url(24/home.png);}
.mws-i-24.i-chart{background-image:url(24/chart.png);}
.mws-i-24.i-day-calendar{background-image:url(24/day-calendar.png);}
.mws-i-24.i-file-cabinet{background-image:url(24/file-cabinet.png);}
.mws-i-24.i-list{background-image:url(24/list.png);}
.mws-i-24.i-text-styling{background-image:url(24/text-styling.png);}
.mws-i-24.i-blocks-images{background-image:url(24/blocks-images.png);}
.mws-i-24.i-polaroids{background-image:url(24/polaroids.png);}
.mws-i-24.i-alert-2{background-image:url(24/alert-2.png);}
.mws-i-24.i-cog{background-image:url(24/cog.png);}